

.tabla {
    display: flex;
    align-items: center; /* Use another value to see the result */
    width: 90%;
    height: 200px;
    background-color: #1faadb;
    padding: 1em;
}

.CheckBoxColumn {
    display: block;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
}


.ImageColumn{
    background-color: #763cdb;
    width: 20%;
    height: 82%;
    padding: 1em;
    align-items: center;
}

.DescriptionColumn{
    background-color: #cb3edb;
    width: 50%;
    height: 100%;
    padding: 1em;
}

.DescriptionColumnText {
    display: flex;
    align-items: center; /* Use another value to see the result */
    width: 100%;
    height:20%;
    background-color: #db0723;

    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.DescriptionColumnItems {
    display: flex;
    align-items: center; /* Use another value to see the result */
    width: 100%;
    height: 40%;
    background-color: #db0723;
}

.ItemColumn{
    display: flex;
    align-items: center; /* Use another value to see the result */
    width: 100%;
    height:20%;
    background-color: #39db1f;
}

.PriceColumn{
    display: flex;
    width: 40%;
    height: 200px;
    padding: 1em;
    align-items: center;

    background-color: #dbd04f;

}

.ima-dino{
    height: 100%;
    width: 100%;
}





