

.tabla {
    display: flex;
    align-items: center; /* Use another value to see the result */
    width: 100%;
    height: 200px;
    background-color: #1faadb;
    padding: 1em;
}

.CheckBoxColumn {
    display: block;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
}


.ImageColumn{
    background-color: #1faadb;
    width: 20%;
    height: 82%;
    padding: 1em;
    align-items: center;
}

.DescriptionColumn{
    background-color: #1faadb;
    width: 50%;
    height: 100%;
    padding: 1em;
}

.DescriptionColumnText {
    display: flex;
    align-items: center; /* Use another value to see the result */
    width: 100%;
    height:20%;
    background-color: #1faadb;

    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.DescriptionColumnItems {
    display: flex;
    align-items: center; /* Use another value to see the result */
    width: 100%;
    height: 40%;
    background-color: #1faadb;
}

.DescriptionColumnCant {
    display: flex;
    align-items: center; /* Use another value to see the result */
    width: 100%;
    height: 20%;
    background-color: #1faadb;
}

.ItemColumn{
    display: flex;
    align-items: center; /* Use another value to see the result */
    width: 100%;
    height:20%;
    /*background-color: #39db1f;*/
}

.PriceColumn{
    width: 20%;
    height: 200px;
    padding: 1em;
    align-items: center;
    background-color: #1faadb;

}

.ima-dino{
    height: 100%;
    width: 100%;
}

.button{
    background-color: #1faadb;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 67px 67px 67px 67px;
    -moz-border-radius: 67px 67px 67px 67px;
    -webkit-border-radius: 67px 67px 67px 67px;
    border: 0px solid #000000;
}


.cart_quantity_button a {
    background:#F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
}


.cart_quantity_input {
    color: #434843;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto',sans-serif;

}